.class1{
	background-image:url("images/khaoula.jpg");
	margin:0px;

}
.class1 body{
	color:#A83B4A;
}g
.class1 table{
	border-radius:5px;
	padding:0px 5px;
	border:1px solid #A83B4A;
	background-color:#146385;
	color:white;

	}